<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>画像判定アプリ</title>
</head>

<body>
    <h2>犬か猫かを画像判定します</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <img id="preview" style="display: none;" />
        <button type="submit">判定</button>
    </form>

    {% if prediction %}
    <h2>判定結果</h2>
    <p>あなたのアップロードした画像は「{{ prediction }}」でしょう。</p>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('#id_image').on('change', function () {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#preview").attr('src', reader.result);
                    $("#preview").show();
                }
                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>

</body>

</html>